<app-first-comp></app-first-comp>
<h1>{{ title }}</h1>
<table>
  <thead>
    <tr>
      <th>Sr No</th>
      <th>title</th>
      <th>director</th>
      <th>cast</th>
      <th>release Date</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let movie of movies; let i = index; let o = odd; let e = even"
      [ngClass]="(i%2==0)?'e':'o'"
    >
      <td>{{ i + 1 }}</td>
      <td>{{ movie.title }}</td>
      <td>{{ movie.director }}</td>
      <td>{{ movie.cast }}</td>
      <td>{{ movie.releaseDate }}</td>
    </tr>
  </tbody>
</table>

<!-- to create module type  ng g m moduleName in terminal -->

<app-first-comp></app-first-comp>   